
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Content/img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Güçlü Kahve, Güçlü Kökler</span>
                            <span class="section-heading-lower">Kafemiz Hakkında</span>
                        </h2>
                        <p>1987 yılında Hernandez kardeşler tarafından kurulan işletmemiz, Güney ve Orta Amerika'nın çeşitli bölgelerinde zanaatkar çiftçilerden elde edilen zengin kahveleri servis etmektedir. Kendimizi dünyayı gezmeye, en iyi kahveyi bulmaya ve kafemizde size geri getirmeye adadık.</p>
                        <p class="mb-0">Şehvete düşeceğinizi garanti ediyoruz. İçeri girdiğiniz andan son yudumunuzu bitirene kadar çökmekte olan karışımlarımızla. Günlük rutininiz için, arkadaşlarınızla bir gezi için veya sadece biraz yalnız kalmanın tadını çıkarmak için bize katılın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

