
@{
    ViewBag.Title = "Mağaza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">İçeri gel</span>
                        <span class="section-heading-lower">Biz Açığız</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cumartesi
                            <span class="ml-auto">Sabah 09:00 Akşam 00:00</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>İstanbul</strong>
                            <br>
                            Üsküdar
                        </em>
                    </p>
                    <p class="mb-0">
                        <small>
                            <em>Bizi Ara</em>
                        </small>
                        <br>
                        +90 (531) 887 75 71
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

