
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Mükemmellik İçin Harmanlanmış</span>
                        <span class="section-heading-lower">Kahveler &amp; Çaylar</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/img/products-01.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">İşimizle gurur duyuyoruz ve bunu gösteriyoruz. Bizden her içecek siparişinizde, bunun yaşanmaya değer bir deneyim olacağını garanti ediyoruz. İster dünyaca ünlü Venezüella Cappuccino'muz, ister canlandırıcı buzlu bitki çayı veya bir fincan özel kaynaklı siyah kahve gibi basit bir şey olsun, daha fazlası için geri geleceksiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Lezzetli İkramlar, İyi Yemekler</span>
                        <span class="section-heading-lower">Fırın &amp; Mutfak</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/img/products-02.jpg" alt="">
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Mevsimlik menümüzde lezzetli atıştırmalıklar, unlu mamuller ve hatta kahvaltı veya öğle yemeği için mükemmel olan tam öğünler bulunur. Özel ürünler için birinci sınıf satıcıların yanı sıra, mümkün olduğunda malzemelerimizi yerel, organik çiftliklerden alıyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Dünyanın dört bir yanından</span>
                        <span class="section-heading-lower">Toplu Özel Karışımlar</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/img/products-03.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">En kaliteli kahve için dünyayı dolaşmak gurur verici bir şeydir. Bizi ziyaret ettiğinizde, her zaman dünyanın dört bir yanından, özellikle Orta ve Güney Amerika'daki bölgelerden yeni karışımlar bulacaksınız. Karışımlarımızı küçükten büyüğe toplu miktarlarda satıyoruz. Daha fazla ayrıntı için lütfen bizi şahsen ziyaret edin.</p>
                </div>
            </div>
        </div>
    </div>
</section>

